@forward 'flexbox'


//hover-box
.border-box
  width: 300px 
  height: 100px
  background: skyblue
  display: flex
  align-items: center
  &.border:hover
    border: 5px solid lightgreen
    position: relative
    top: -5px
    left: -5px
  p 
    color: #fff
    text-align: center
    width: 100%


//vertical
.vertical
  padding-left: 50%
  .vertical-content
    p 
      writing-mode: vertical-rl
      text-orientation: upright
      span
        /* ↓↓ 追加コード　↓↓ */
        text-combine-upright: all


//sass-compile


h1
  font-size: 20px
  border-bottom: 5px solid red
  border-image: linear-gradient(to right, red 0%,  pink 100%)
  border-image-slice: 1


  .main-contents
    //1行目コメント
    /* コメント残す */
    margin: 0 auto 
    padding: 0
    font-size: 20px

body
  -webkit-print-color-adjust: exact
  width: 400px
  margin: 0 auto
