@forward 'flexbox'


body *
  box-sizing: border-box
//hover-box
.border-box
  width: 300px 
  height: 100px
  background: skyblue
  display: flex
  align-items: center
  &.border:hover
    border: 5px solid lightgreen
    position: relative
    top: -5px
    left: -5px
  p 
    color: #fff
    text-align: center
    width: 100%


//vertical
.vertical
  padding-left: 50%
  .vertical-content
    p 
      writing-mode: vertical-rl
      text-orientation: upright
      span
        /* ↓↓ 追加コード　↓↓ */
        text-combine-upright: all


//sass-compile


h1
  font-size: 20px
  border-bottom: 5px solid red
  border-image: linear-gradient(to right, red 0%,  pink 100%) 1



  .main-contents
    //1行目コメント
    /* コメント残す */
    margin: 0 auto 
    padding: 0
    font-size: 20px

body
  -webkit-print-color-adjust: exact
  margin: 0 auto

.btn-gra
  display: inline-block
  width: 80%
  margin: 100px auto 
  border: 5px solid
  border-image: linear-gradient(to bottom, red 0%,  pink 100%) 1
  text-decoration: none
  color: #000


.btn-clickable-wrap
  margin-top: 50px
  position: relative
  width: 120px
  height: 40px
  .btn-clickable
    display: block
    text-decoration: none
    color: #333
    border: 2px solid red
    text-align: center
    height: 100%
    line-height: 40px
    font-weight: bold
  .arrow
    position: absolute
    display: inline-block
    content: ""
    width: 8px
    height: 8px
    border-right: 2px solid #333
    border-bottom: 2px solid #333
    transform: translateY(-50%) rotate(-45deg)
    top: 50%
    right: 10px
    pointer-events: none

.filter-wrapper
  .filter-item-wrap
    display: flex
    width: 1000px
    margin: 0 auto 80px
    justify-content: space-between
    &.blur
      .img-wrap.refect img
        filter: blur(5px)
    &.brightness
      .img-wrap.refect img
        filter: brightness(0.5)
    &.contrast
      .img-wrap.refect img
        filter: contrast(200%)
    &.shadow
      .img-wrap.refect img
        filter: drop-shadow(20px 20px 20px rgba(0,0 ,0 ,0.8 ))
    &.grayscale
      .img-wrap.refect img
        filter: grayscale(80%)
    &.opacity
      .img-wrap.refect img
        filter: opacity(60%)
    &.mix
      .img-wrap.refect img
        filter: blur(3px) brightness(0.5)
    .img-wrap
      width: 46%
      height: auto
      p
        text-align: center
    img
      width: 100%
