@charset "UTF-8";
body {
  padding-top: 100px;
}

.flex-box-wrap {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
}

.flex-item {
  width: 40%;
  border: 1px solid #000;
  padding: 5%;
  width: calc((100% - 50px) / 2);
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
}

.img-wrap {
  width: 100%;
  margin: 0 auto;
  height: 200px;
  background: #ececec;
  margin-bottom: 10px;
}

.flex-box p {
  margin-bottom: 10px;
}

.btn-box {
  text-align: center;
  margin-top: auto;
}

.btn-txt {
  background-color: aqua;
  color: #fff;
  width: 200px;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
}

body * {
  box-sizing: border-box;
}

.wrapper {
  padding: 0 5%;
}

.border-box {
  width: 300px;
  height: 100px;
  background: skyblue;
  display: flex;
  align-items: center;
}
.border-box.border:hover {
  border: 5px solid lightgreen;
  position: relative;
  top: -5px;
  left: -5px;
}
.border-box p {
  color: #fff;
  text-align: center;
  width: 100%;
}

.vertical {
  padding-left: 50%;
}
.vertical .vertical-content p {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.vertical .vertical-content p span {
  /* ↓↓ 追加コード　↓↓ */
  text-combine-upright: all;
}

h1 {
  font-size: 20px;
  border-bottom: 5px solid red;
  border-image: linear-gradient(to right, red 0%, pink 100%) 1;
}
h1 .main-contents {
  /* コメント残す */
  margin: 0 auto;
  padding: 0;
  font-size: 20px;
}

body {
  -webkit-print-color-adjust: exact;
  margin: 0 auto;
}

.btn-gra {
  display: inline-block;
  width: 80%;
  margin: 100px auto;
  border: 5px solid;
  border-image: linear-gradient(to bottom, red 0%, pink 100%) 1;
  text-decoration: none;
  color: #000;
}

.btn-clickable-wrap {
  margin-top: 50px;
  position: relative;
  width: 120px;
  height: 40px;
}
.btn-clickable-wrap .btn-clickable {
  display: block;
  text-decoration: none;
  color: #333;
  border: 2px solid red;
  text-align: center;
  height: 100%;
  line-height: 40px;
  font-weight: bold;
}
.btn-clickable-wrap .arrow {
  position: absolute;
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
  right: 10px;
  pointer-events: none;
}

.filter-wrapper .filter-item-wrap {
  display: flex;
  width: 1000px;
  margin: 0 auto 80px;
  justify-content: space-between;
}
.filter-wrapper .filter-item-wrap.blur .img-wrap.refect img {
  filter: blur(5px);
}
.filter-wrapper .filter-item-wrap.brightness .img-wrap.refect img {
  filter: brightness(0.5);
}
.filter-wrapper .filter-item-wrap.contrast .img-wrap.refect img {
  filter: contrast(200%);
}
.filter-wrapper .filter-item-wrap.shadow .img-wrap.refect img {
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.8));
}
.filter-wrapper .filter-item-wrap.grayscale .img-wrap.refect img {
  filter: grayscale(80%);
}
.filter-wrapper .filter-item-wrap.opacity .img-wrap.refect img {
  filter: opacity(60%);
}
.filter-wrapper .filter-item-wrap.mix .img-wrap.refect img {
  filter: blur(3px) brightness(0.5);
}
.filter-wrapper .filter-item-wrap .img-wrap {
  width: 46%;
  height: auto;
}
.filter-wrapper .filter-item-wrap .img-wrap p {
  text-align: center;
}
.filter-wrapper .filter-item-wrap img {
  width: 100%;
}

.border-style {
  margin-top: 200px;
}
.border-style h2 {
  margin-bottom: 100px;
}
.border-style h2.border-dotted span {
  border-bottom-color: #000000;
  border-bottom-style: dotted;
  border-bottom-width: 4px;
}
.border-style h2.border-dashed span {
  border-bottom: 4px dashed #000000;
}
.border-style h2.border-custom span {
  background-size: 12px 4px;
  background-image: linear-gradient(to right, #000000 6px, transparent 6px);
  background-repeat: repeat-x;
  background-position: left bottom;
  padding-bottom: 5px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22sass/project/_flexbox.sass%22,%22sass/project/_project.sass%22%5D,%22names%22:%5B%5D,%22mappings%22:%22;AACA;EACE;;;AAEF;EACE;EACA;EACA;EACA;;;AAEF;EACE;EACA;EACA;EACA;EACA;EACA;;;AAEF;EACE;;;AAEF;EACE;EACA;EACA;EACA;EACA;;;AAEF;EACE;;;AAEF;EACE;EACA;;;AAEF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AC1CF;EACE;;;AACF;EACE;;;AACF;EACE;EACA;EACA;EACA;EACA;;AACA;EACE;EACA;EACA;EACA;;AACF;EACE;EACA;EACA;;;AAIJ;EACE;;AAEE;EACE;EACA;;AACA;AACE;EACA;;;AAMR;EACE;EACA;EACA;;AAIA;AAEE;EACA;EACA;EACA;;;AAEJ;EACE;EACA;;;AAEF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;;AACA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AACF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;;AAEE;EACE;;AAEF;EACE;;AAEF;EACE;;AAEF;EACE;;AAEF;EACE;;AAEF;EACE;;AAEF;EACE;;AACJ;EACE;EACA;;AACA;EACE;;AACJ;EACE;;;AAGN;EACE;;AACA;EACE;;AAEE;EAEE;EACA;EACA;;AAEF;EACE;;AAEF;EACE;EACA;EACA;EACA;EACA%22,%22file%22:%22style.css%22%7D */
